/* Top row styling */
#top-row {
    padding: 7px;
}
#top-row i {
    color: #d15b8f;
}
#top-row a {
    color: #000;
    text-decoration: none;
}
/* top row styling end */

/* Logo bar styling */
#bar-toggle {
    width: 30px;
    float: left;
    padding: 5px;
    margin-top: 5px;
}
#bar-toggle .bar {
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
}
#logo-bar {
    background-color: #39a4db;
}
#logo-bar #logo img {
    max-width: 250px; 
	width:100%;
}
#logo-bar .search-bar {
    text-align: center;
    max-width: 240px;
    margin: 21px auto;
    border-radius: 25px;
    background-color: #fff;
    padding: 0px 5px;
}
#logo-bar .search-bar input {
    display: inline-block;
    border: 0;
    border-radius: 25px;
    outline: none;
    padding-left: 5px;
    font-size: 14px;
    font-style: italic;
	width: 83%;
}
#logo-bar .search-bar button {
    display: inline-block;
    background: none;
    border: none;
    color: #39a4db;
    cursor: pointer;
	float: right;
}
#logo-bar .dropdown-container {
    float: left;
    width: 50%;
    padding-top: 18px;
}
.dropdown-container img,
.dropdown-container .dropdown {
    float: left;
}
.dropdown-container img {
    max-width: 30px;
}
.dropdown-container .dropdown {
    color: #fff;
    line-height: 18px;
    padding-left: 10px;
    cursor: pointer;
    font-weight: bold;
}
.dropdown-container .dropdown span {
    font-size: 14px;
    font-weight: 100;
}
.dropdown-menu {
    display: none;
    right: 0;
    width: 120px;
    min-width: auto;
    margin-top: 1px;
    border-radius: 0;
    font-size: 14px;
    background: #39a4db;
    font-weight: 300;
    border-color: #fff;
    color: #fff;
    padding: 0 10px
}
.dropdown-menu ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu ul li {
    list-style: none;
    padding: 5px 0;
    border-bottom: solid 1px #fff;
}
.dropdown-menu ul li:last-child {
    border-bottom: none;
}
.dropdown-menu.show {
    display: block;
}
.dropdown-menu li a {
    text-decoration: none;
    color: #fff;
}
.dropdown-menu.cart{
    min-width: 150px;
    font-size: 12px;
    text-align: center;
    right: 0;
    left: auto;
    padding: 0;
}
.dropdown-menu.cart table {
    width: 100%;
}
.dropdown-menu.cart table tr td {
    padding: 5px 0;
    text-align: center;
    padding-left: 3px;
}
.dropdown-menu.cart .menu-footer {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
}
.dropdown-menu.cart .menu-footer .btn {
    padding: 0 4px;
    font-size: 10px;
    float: right;
    margin-right: 10px;
    display: inline-block;
}
/* Logo bar styling end */

/* Navbar */
#nav-bar ul {
    padding: 0;
    text-align: center;
}
#nav-bar ul li {
    display: inline-block;
    position: relative;
}
#nav-bar ul li > a {
    display: block;
    text-decoration: none;
    border-bottom: solid 7px #fff;
}
#nav-bar ul li:hover > a {
    border-color: #0393b7;
}
#nav-bar ul li img {
    width: 85px;
}
#nav-bar ul li p {
    color: #000;
    font-weight: 600;
    margin-bottom: 0;
}
/* Navbar End */

/* header */
#header-image {
    height: 400px;
    background-image: url('../images/header-image.jpg');
    background-size: cover;
    background-position: 50% 15%;
    background-repeat: no-repeat;
}
#header-image > .row {
    height: 100%;
}
#header-image > .row > * {
    height: 100%;
}
#header-image > .row > .left {
    background-color: rgba(255,255,255,0.75);
    text-align: center;
    position: relative;
}
#header-image > .row > .right {
    background-color: rgba(106, 176, 221, 0.85);
    position: relative;
}
.vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%)translateX(-50%);
       -moz-transform: translateY(-50%)translateX(-50%);
            transform: translateY(-50%)translateX(-50%);
}
#header-image .left img {
    max-width: 400px;
}
#header-image .right ul {
    margin-left: -10%;
    text-align: left;
}
#header-image .right ul li {
    list-style: none;
    padding: 10px 0;
}
#header-image .right ul li > .image,
#header-image .right ul li > .content {
    float: left;
}
#header-image .right ul li > .image {
    width: 75px;
    text-align: center;
    padding-top: 5px;
}
#header-image .right ul li > .content {
    width: calc(100% - 75px);
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    padding-left: 15px;
}
#header-image .right ul li > .content a {
    text-decoration: none;
    color: #fff;
}

/* header end */

/* about */
#about, #about-2 {
    padding: 75px 0;
    background-color: #e5e5e5;
}
#about .signup {
    background-color: #d15b8f;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 275px;
    border-radius: 7px;
    margin-top: 20px;
}
.signup {
    background-color: #DF3682;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 200px;
    border-radius: 7px;
    margin-top: 20px;
}
.signup:hover {
    background-color: #DF3682; 
	color:#fff;
}
#about .login {
    margin-bottom: 0;
}
#about .login a {
    color: #d15b8f;
    font-style: italic;
}
/* about end */

/* services */
.mycarousel {
    background-color: #facb4a;
    height: 405px;
}
.mycarousel .carousel {
    height: 100%;
}
.mycarousel .circle {
    margin: 0 auto;
    height: 115px;
    width: 115px;
    border-radius: 50%;
    text-align: center;
    background: #f3f3f3;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0px;
}
.mycarousel .circle i {
    font-size: 45px;
    display: block;
    padding-top: 15px;
    margin-bottom: 5px;
}
.mycarousel h4 {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.mycarousel p {
    text-align: center;
    font-weight: normal;
}
.mycarousel .carousel-indicators li {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.mycarousel .carousel-indicators li.active {
    height: 12px;
    width: 12px;
    margin-top: -2px;
}
#services .service > a {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 200px;
    display: block;
}
#services .service {
    padding-left: 5px;
    padding-right: 5px;
}
#services .service:nth-child(1),
#services .service:nth-child(2) {
    padding-bottom: 5px;
}
#services .service-1 {
    background-image: url('../images/services/flags-banner.jpeg');
}
#services .service-2 {
    background-image: url('../images/services/rigid-banner.png');
}
#services .service-3 {
    background-image: url('../images/services/roll-banner.png');
}
#services .service-4 {
    background-image: url('../images/services/unit-banner.png');
}
/* services end */

/* testimonials */
#testimonials .left,
#testimonials .right {
    position: relative;
    padding: 75px 0;
}
#testimonials .left::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 1000px;
    background-color: #d15b8f;
    z-index: -1;
}
#testimonials .left ul {
    color: #fff;
    padding: 0 75px;
    font-size: 14px;
    font-style: italic;
}
#testimonials .left ul li {
    list-style: none;
    position: relative;
    margin-bottom: 5px;
}
#testimonials .left ul li:before {
    content: '';
    position: absolute;
    left: -30px;
    height: 20px;
    width: 20px;
    background-image: url(../images/check-mark.png);
    background-repeat: no-repeat;
    background-size: 15px;
    top: 2px;
    background-position: 50% 50%;
}
#testimonials .right {
    padding-left: 75px;
}
#testimonials .right h3 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.client-message {
    margin-top: 50px;
    font-size: 14px;
}
.client-message.first {
    border-bottom: solid 3px #eee;
}
.client-message .message {
    margin-bottom: 25px;
}
.client-message .client-name {
    color: #53c5ec;
    font-style: italic;
    margin-bottom: 30px;
}

/* testimonials end */

/* gallery */
#gallery {
    padding: 75px 0;
}
#gallery .owl-carousel {
    position: relative;
}
#gallery .owl-carousel .item {
    height: 150px;
}
#gallery .item {
    height: 150px;
}
#gallery .item > .image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#gallery .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 100%;
}
#gallery .owl-nav > div {
    background: none;
}
#gallery .owl-nav .owl-prev {
    float: left;
    margin-left: -100px;
    text-align: left;
}   
#gallery .owl-nav .owl-next {
    float: right;
    margin-right: -100px;
    text-align: right;
}
#gallery .arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
#gallery .arrow.prev {
    left: -50px;
}
#gallery .arrow.next {
    right: -50px;
}
#gallery .slick-active {
    width: 210.45px !important;
    margin-left: 10px;
	margin-left: 12px;
	margin-bottom: 21px;
}
#gallery .slick-current {
    width: 283.65px !important;
    height: 200px;
    margin-left: 0;
    margin-top: -25px;
}
#gallery .slick-list {
    height: 200px;
    padding-top: 25px;
}
#gallery .slick-active .overlay {
    background-color: rgba(65, 171, 215, 0.53);
    height: 100%;
    width: 100%;
}
#gallery .slick-current .overlay {
    background: transparent;
    height: 100%;
    width: 100%;
    border-bottom: solid 8px #41abd7;
}
#gallery .text-content {
    margin-top: 50px;
    display: none;
}
#gallery .text-content1 {
    display: block;
}
#gallery .text-content h4 {
    font-weight: bold;
    font-size: 20px;
}
#gallery .text-content p {
    line-height: 18px;
    margin-bottom: 0;
}
#gallery .text-content p.phone-number {
    line-height: 18px;
    margin-top: 25px;
    font-style: italic;
}
#gallery .text-content p.phone-number > a {
    color: #41abd7;
    text-decoration: none;
}
/* gallery end */

/* contact */
#contact {
    padding: 75px 0;
}
#contact .address {
    background-color: #e5e5e5;
    padding: 30px 75px;
    margin-bottom: 45px;
}
#contact .address .name {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 20px;
    text-transform: uppercase;
}
#contact .address .area {
    color: #d37196;
    font-weight: 200;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 30px;
}
#contact .address p {
    line-height: 20px;
}
#contact .address p a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}
#contact .address p > span {
    font-style: italic;
}
#contact .map-image {
    padding: 0 60px;
}
#contact .map-image img {
    max-width: 100%;
}
/* contact end */

/* footer */
#footer {
    background-color: #181d20;
}
#footer .footer-content {
    padding: 50px 15px;
}
#footer img.logo {
    max-width: 100px;
}
#footer .copyrights {
    color: #fff;
    text-align: center;
    border-top: solid 2px #ccc;
    font-size: 14px;
    font-style: italic;
    padding: 10px;
}
/* footer end */

p.nomargin {
    margin: 0;
}
.mobile {
    display: none;
}
.align-right{
	text-align:right;
}
.align-center{
	text-align:center;
}
.padding-zero{
	padding:0;
}
#footer-social {
  background: hsl(200, 6%, 19%) none repeat scroll 0 0;
  padding: 13px 0;
}
#footer-social ul{
  margin-bottom: 0px;
}
#footer-social ul > li img {
  width: 30px;
}
#footer-social ul > li {
  display: inline-block;
  margin-right: 25px;
}
.social-li li {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  color: hsl(0, 0%, 80%);
  font-size: 16px;
  list-style: outside none none;
  padding: 7px 15px;
}
.social-li a {
  color: hsl(0, 0%, 80%);
}
.footer-content .fa-angle-right {
  float: right;
}
.footer-icons-texts {
  font-size: 12px;
}
.footer-icons-texts span {
  color:hsl(0, 0%, 80%);
}
.icon-tab-footer {
  margin-bottom: 15px;
}
.login-signup-text {
  color: hsl(0, 0%, 0%);
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 0;
}
.remember-me {
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  font-weight: bold !important;
}
.login-section {
  margin-bottom: 100px;
}
.underline {
  text-decoration: underline;
}
.checkboxFive {
	width: 25px;
	margin: 20px 100px;
	position: relative;
}
.form-control {
  border: 1px solid hsl(21, 6%, 49%);
  border-radius: 0;
}

/* Dropdown styles */
.padding0 {
    padding: 0;
}
.nav-dropdown{
    display: none;
    position: absolute;
    z-index: 3;
    background: #fff;
    width: 200px;
    padding: 15px 0;
    text-align: left;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nav-dropdown a {
    border: none !important;
}
.nav-image,
.nav-sub-dropdown {
    display: none;
    position: absolute;
}
.nav-dropdown h3 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 15px;
}
#nav-bar .nav-dropdown ul {
    padding-left: 0;
    text-align: left;
}
.nav-dropdown ul li {
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 5px 0;
    padding-left: 15px;
    position: relative;
}
.nav-dropdown ul li .nav-dropdown-item {
    display: none;
}
.nav-dropdown ul li a {
    color: #000;
}
.nav-dropdown ul li.active,
.nav-dropdown ul li:hover {
    color: #fff;
    background: #e61f7e;
}
.nav-dropdown ul li:hover a {
    color: #fff;
}
.dropdown-content ul.main-menu li.image-exists::before {
    display: block;
}
.nav-bar-item:hover .nav-dropdown {
    display: block;
}
.dropdown-image-container,
.sub-dropdown-image-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 150px;
    background: #fff;
    text-align: center;
    margin-right: 15px;
}
.sub-dropdown-image-container {
    left: 100%;
    right: auto;
    margin-left: 220px;
}
.dropdown-image-container img,
.sub-dropdown-image-container img {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
} 
.dropdown-content ul.main-menu li:before {
    right: 100%;
    margin-right: -13px;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    display: none;
}
.dropdown-content ul.main-menu li:before {
	border-color: rgba(194, 225, 245, 0);
    border-left-color: #fff;
    border-width: 15px;
    margin-top: -15px;
}
ul.sub-menu li{
    position: relative;
}
ul.sub-menu li:after{
    display: none;
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
ul.sub-menu li:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #fff;
	border-width: 15px;
    margin-top: -15px;
    margin-left: -10px;
}
ul.sub-menu li.image-exists::after {
    display: block;
}
.sub-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 200px;
    padding: 15px 0;
    background: #fff;
}
/* Dropdown styles end */

/* Media queries */
@media screen and (max-width: 767px) {
    .mobile {
        display: block;
    }
    .not-mobile {
        display: none;
    }
    .not-mobile.active {
        display: block;
    }
    #logo {
        float: left;
    }
    #logo-bar #logo img {
        width: 50px;
        margin-left: 10px;
    }
    .mobile-50 {
        width: 50%;
        float: left;
    }
    #logo-bar .dropdown-container {
        width: auto;
        float: right;
        padding-top: 7px;
    }
    #services .service {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 3px !important; 
        padding-top: 3px !important;
    }
    #testimonials .left::after {
        right: 0;
    }
    #header-image {
        height: 200px;
    }
    #header-image img.vertical-align {
        margin-top: 50px;
    }
    #about {
        padding-bottom: 20px;
    }
    #testimonials .left, #testimonials .right {
        padding: 30px 0;
    }
    #contact {
        padding: 30px 0;
    }
    #contact .address {
        background-color: transparent;
        padding: 20px;
        margin-bottom: 0;
    }
    #contact .address.first {
        border-bottom: solid 2px #e5e5e5;
    }
    #footer .footer-content {
        padding: 25px 15px;
    }
    #footer img.logo {
        max-width: 60px;
        margin-bottom: 80px;
    }
	.first-footer-col img {
		margin: 0px !important;
}
}
@media screen and (min-width: 768px) and (max-width: 1068px) {
	.tab-to-desktop{
	    display:none;
	}
}


/* Sign-up Page Styling starts here */

h2 {
  font-weight: bold;
}
.signup-form{
  margin-top:30px;
}
.align-center {
  text-align: center;
  width: 100%;
}
.mid-field {
  border-bottom: 0 none;
  border-top: 0 none;
}
.nav.nav-tabs {
  border: 0 none;
}
.next-finish-buttons{
  margin:0 auto;
}
#myTab .nav-link {
  color: #cbcbcb;
  font-size: 18px;
  font-weight: bold;
  border: 0 none;
}
#myTab .nav-item .active{
  background:none;
  color:#E243AC;
  border:0px;  
}
.nav.nav-tabs {
  margin-top: 27px;
}
.col-form-label, .form-check-inline {
  font-weight: bold;
  font-size: 14px;
}
#footer-social ul li:last-child {
  margin-right: 0;
}
.signup-form.step-two > hr {
  margin: 30px 0;
}
.form-check.form-check-inline {
  line-height: 3em;
}
@media screen and (max-width: 400px) {
	#myTab .nav-link {
	  font-size: 14px;
	}
}
/* Sign-up Page Styling ends here */
/* css updates */
.not-mobile.my-acc-cart {
  font-size: 11px;
}
@media screen and (max-width: 768px) {
.dropdown-img {
  margin-right: 20px;
}
}
@media screen and (max-width: 991px) {
#logo-bar .search-bar {
  margin: 18px auto;
}
}
#myTab {
  display: list-item !important;
  text-align: center !important;
}
#myTab .nav-item {
  display: inline-block;
}
@media screen and (max-width: 450px) {
	#myTab .nav-link {
	  font-size: 14px;
	}
	#myTab .nav-link {
  font-size: 13px;
  padding: 5px;
}
}
.demo {
    width:100%;
}
.demo ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.demo li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.demo img {
    display: block;
    height: auto;
    max-width: 100%;
}
.gray-section {
  background: #f5f6f8 none repeat scroll 0 0;
  padding: 50px 0;
}
.navigation-url ul {
  padding: 0;
}
.navigation-url li {
  display: inline-block;
}
.navigation-url ul li a {
  color: #999a99;
  font-style: italic;
}
.navigation-url li:nth-child(1)::before {
  content: "";
}
.navigation-url li::before {
  color: #999a99;
  content: "/";
  margin-right: 4px;
}
.product-heading {
  font-size: 33px;
}
.price {
  color: #e51e7d;
  font-size: 20px;
  font-weight: 600;
}
.price-desp {
  color: #39a4db;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
}
.btn.btn-default.signup.full-width-button {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 10px 5px;
  width: 100%;
}
.form-check.product-check {
  margin-bottom: 8px;
}
.product-check label {
  padding-left: 12px;
  vertical-align: super;
}
.product-detail-margin {
    margin-top: 40px;
}
.product-detail-margin-bottom {
    margin-top: 40px;
}
.lSPager.lSGallery {
  margin-top: 21px !important;
}
.margin-20 {
  margin-bottom: 20px;
}
#accordion .mb-0 a {
  color: #fff;
  display: inline-block;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100% !important;
}
.card-header {
  background: #df3682 none repeat scroll 0 0;
  border-radius:0px !important;
}
.card {
  border-radius: 0;
  margin-bottom: 30px;
}
.card .fa.fa-angle-down {
  float: right;
  font-size: 31px;
}
.btn.btn-default.btn-number {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #df3682;
  font-size: 12px;
  height: 38px;
  opacity: 1;
  width: 42px;
}
.form-control.input-number {
  border: 0 none;
  color: #df3682;
  font-size: 48px;
  font-weight: bold;
  height: 39px;
  margin: -3px 15px 0;
  padding: 0;
}
.input-group.item-counter {
  margin: 0 auto;
  width: 145px;
}
.card-body.counter-card-body {
  padding: 36px 19px;
}
.product-image-column {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 18px;
  min-height: 135px;
}
.padding-twenty-five{
  padding-bottom: 25px;
  padding-top: 25px;
}
.size-name {
  display: table;
  font-size: 21px;
  font-weight: bold;
}
.material-details {
  display: table;
  font-size: 13px;
}
.coming-soon-col{
  background:#FCDA19;
}
.coming-soon {
  background: #fcda19 none repeat scroll 0 0;
  color: #a68f12;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
.product-image-column.coming-soon-border {
  border: 3px solid #FCDA19;
}
.item-counter-sub {
  margin: unset !important;
  width: 108px !important;
  margin-top: 10px !important;
  float:left;
}
.item-counter-sub .btn.btn-default.btn-number {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccc;
  color: #df3682;
  font-size: 9px;
  height: 30px;
  opacity: 1;
  width: 35px;
}
.item-counter-sub .form-control.input-number {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  margin: 0;
  padding: 0 0 0 12px;
}
.input-group-btn.button-right-border button {
  border-radius: 3px 0 0 3px;
}
.input-group-btn.button-left-border button {
  border-radius: 1px 3px 3px 0;
}
.item-price {
  color: #e51e7d;
  float: left;
  font-size: 20px;
  font-weight: 600;
  margin-left: 16px;
  padding-top: 9px;
}
.total-price {
  color: #acafb3;
  font-size: 21px;
  font-weight: 600;
  margin-top: 10px;
}
.total-price-details {
  color: #acafb3;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.total-price-details > span {
  color: #df3682;
  font-size: 33px;
}
.row.no-gutters.products-row {
  background: #fff none repeat scroll 0 0;
}
.products-row {
  background: #fff none repeat scroll 0 0;
  margin: 0;
  padding: 30px 20px;
}
.products-row img{
  border:1px solid #ccc;
}
.product-grid-title {
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 0;
}
.grid-structure {
  margin-bottom: 30px;
}




@media screen and (min-width: 768px) {
.not-desktop{
	display:none;
}
}
@media screen and (max-width: 767px) {
.coming-soon {
  position: initial;
}
.item-price {
  float: none;
  margin-left: 0;
}
.total-price {
  font-size: 13px;
}
.total-price-details > span {
  color: #df3682;
  font-size: 22px;
}
.item-counter-sub {
    float: none;
}
}